<div class="Container">
  <nav class="breadcrumb">
      <span>
        <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
          {{ 'general.breadcrumb.home' | t }}
        </a>
      </span>
      <span>
        {% if product.metafields.custom.main_category != blank %}
          {% assign collection = product.metafields.custom.main_category.value %}
          <span class="breadcrumb-separator">/</span>
          <a
            href="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}"
            title="{{ collection.title | escape }}"
          >
            {% unless collection.title %}
              {{ 'general.breadcrumb.all' | t }}
            {% else %}
              {{ collection.title }}
            {% endunless %}
          </a>
        {% endif %}
      </span>
      <span>
        <span class="breadcrumb-separator">/</span>
        {{ product.title }}
      </span>
  </nav>
</div>

<style>
  .breadcrumb {
    white-space: nowrap;
    margin-bottom: 20px;
    font-size: small;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
   }
  
  .breadcrumb-separator {
    margin-left: 5px;
    margin-right: 5px;
  }
</style>